.container

  .row
    .span16.columns
      h1= share.data.caption
      a(href="#{ share.getImgUrl() }")
        img(src="#{ share.getSmallImgUrl() }", alt="")

      p
        span by #{ share.data.nick } @ #{ share.data.network }
        span , views: #{ share.data.views }
        span , status: #{ share.data.status }
